<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="1000px">
    <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="onSubmit()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cadastro de Clientes</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="100%">
              <mat-form-field class="full-width">
                <mat-label>Nome *</mat-label>
                <input
                  matInput
                  name="name"
                  [(ngModel)]="cliente.name"
                  placeholder="Camila Fernandes"
                />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="100%">
              <mat-form-field class="full-width">
                <mat-label>Email *</mat-label>
                <input
                  matInput
                  name="email"
                  [(ngModel)]="cliente.email"
                  placeholder="camila@gmail.com"
                />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="50%">
              <mat-form-field class="full-width">
                <mat-label>CPF *</mat-label>
                <input
                  matInput
                  name="cpf"
                  [(ngModel)]="cliente.cpf"
                  placeholder="123456789"
                />
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="50%">
              <mat-form-field class="full-width">
                <mat-label>Data de nascimento *</mat-label>
                <input
                  matInput
                  name="dataNascimento"
                  [(ngModel)]="cliente.dataNascimento"
                  placeholder="14/04/1994"
                />
              </mat-form-field>
            </div>
          </div>
          <mat-card-actions fxLayoutGap="16px">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!clientesFrm.valid"
            >
              <mat-icon fontIcon="save"></mat-icon>
              Salvar
            </button>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!clientesFrm.valid"
            >
              <mat-icon fontIcon="refresh"></mat-icon>
              Atualizar
            </button>
            <button
              mat-raised-button
              color="accent"
              type="submit"
              [disabled]="!clientesFrm.valid"
            >
              <mat-icon fontIcon="backspace"></mat-icon>
              Limpar
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
